cachetools               
certifi                  
chardet                  
click                    
cs50                     
Flask                    
Flask-Session            
google-api-core          
google-auth              
google-cloud-vision      
googleapis-common-protos 
grpcio                   
idna                     
itsdangerous             
Jinja2                   
MarkupSafe               
numpy                    
panda                    
pip                      
protobuf                 
pyasn1                   
pyasn1-modules           
pytz                     
requests                 
rsa                      
setuptools               
six                      
SQLAlchemy               
sqlparse                 
termcolor                
urllib3                  
werkzeug == 0.16.0

