<!DOCTYPE HTML>

<html>
	<head>
		<title>XRecognition by UC</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=0.50, maximum-scale=2.0, minimum-scale=0.50">
		
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
        
		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>XRecognition</h1>
					<p>Free Handwritten Multi-lingual Text Recognition <br>with<br> Mathemical expression recognition </p>
				</div>
			</header><br>
			<center>
              
             <form action = "/upload" method = "post" enctype="multipart/form-data">
                 <h3><i class="fa fa-file-text" aria-hidden="true"></i> Select the image file </h3> <input type="file" name="file" />
                 <input type = "submit" value="Upload">
                     
             </form>
            </center>
            <center><h5>{{msg}}</h5></center>
            <br><hr>
			
			<center><form action = "/Recognised" method = "GET" >
				<button type="submit" >Recognise</button>
				</form>
            
            </center>
				<!--<textarea id="w3mission" rows="5" cols="1" placeholder = "The sample output will be here!"></textarea> -->

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>About</h2>
						<p>Welcome to the new gen Text Recognition system!<br />
					You can now convert allyour handwriiten files to text documents in a click.<br /></p>
						<ul class="actions">
							<li><a href="/about" class="button big">Learn More</a></li>
						</ul>
					</section>


				
					<footer id="footer">
						<ul class="icons">
							
							<li><a href="https://www.instagram.com/choubey_utkarsh/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/utkarshchoubey/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="mailto:utkarshchoubey15@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; UC. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
